{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "styled-components-config",
    "eslint-plugin-react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": [2, 150, 4, {"ignoreUrls": true}],
    "react/jsx-uses-vars": 1,
    "react/prop-types": 0
  },
  "globals": {
      "fetch": true
  },
  "extends": ["airbnb-base","plugin:react/recommended"]
}